body{
    background-color:#8a9590;
    /*width: 95%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;*/
}
/*    background-color:#8a9590;
    background-color: #8c8a89;
    background-color: #7f8a8c;*/
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    width: 100%;
    height: 95vh;
}
#button{
    background-color:#393e42 ;
    border: 2px solid #5a5f63;
    color: #fff;
    margin: 2%;
    padding: 1% 0;
    width: 15%;
}/*4+2=6  10*/
#message{
    color:#393e42;
    height: 2%;
    font-size: 16pt;
    margin-bottom: 4%;
}
#data_box{
    width: 100%;
    display: flex;
    justify-content: stretch;
    height: 80%;
}
.data_column{
    width: 20%;
    height: 100%;
    color: #fff;
    background-color:#393e42;
    border: 1px solid #272c30;
    overflow: clip;

}
.data_img_div{
    width: 100%;
    margin-bottom: 2%;
}
.data_img{
    width: 100%;
}
/*
.data_text_box{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}*/
.data_text{
    width: 100%;
    color: #fff;
    padding:5px;
    /*text-wrap:normal;*/
}